# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# IDE specific files
.vscode/

# TypeScript artifacts
*.tsbuildinfo

# Other files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json